<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://cdn.glitch.global/a380af09-cbfb-42a4-bfda-6cffa4db648b/1643187802148.png?v=1643187868342">
    <title>PurifyNature</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html {
      scroll-behavior: smooth;
    }
    h1,h2,h3,h4,h5,h6 {font-family: "Roboto"}
    body {font-family: "Source Sans Pro"}
    </style>
  </head>
 
<body class="w3-light-white w3-margin left" style="background-color:green;">

<!-- Navigation bar with links -->
<div class="w3-bar w3-white w3-text-black">
  <h2 fontstyle="Sans" class="w3-left w3-tag w3-green w3-round">GREEN AND CLEAN<img width="100" height="100" src="https://cdn.glitch.global/a380af09-cbfb-42a4-bfda-6cffa4db648b/1643187802148.png?v=1643187868342" class="center"></h1>
  <h2 class="w3-left w3-tag w3-pale-red w3-round"></h2>
 
										<!--<a href="/" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Home</a>
									        <a href="accounts/contact" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Contact</a>-->
                                                                                {% if user.is_authenticated %} 
                                                                                 <a href="accounts/logout" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Logout</a>
                                                                                 <a href="accounts/contact" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Contact</a>
                                                                                  <a href="accounts/trashdetection" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Pinpoint</a>
                                                                                <a class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Hello, {{user.first_name}}</a>
                                                                                 
	                                                                         
                                                                                  
                                                                                {% else %}
                                                                                 
                                                                                 <a href="accounts/login" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Login</a>
                                                                                <a href="accounts/register" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Register</a>
										<a href="accounts/contact" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">Contact</a>	
								                 <a href="https://abouttheteam.glitch.me" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right" style="margin-top:50px;">About</a>
                                                                                {% endif %}
                                                                                 

									</a>
</div>

<div id="demo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-small">
 <B><a href="#Home"  class="w3-bar-item w3-button">HOME</a></B>
<a href="#Contact" class="w3-bar-item w3-button">CONTACT</a>
  <a href="#Activities" class="w3-bar-item w3-button">REGISTER</a>
  <a href="#Contact" class="w3-bar-item w3-button">LOGIN</a>
</div>

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Image header -->
  <header class="w3-display-container w3-wide" style="padding-bottom:32px;" id="Home">
    <img class="w3-image" src="https://media.istockphoto.com/photos/group-of-people-cleaning-nature-picture-id1143445679?k=20&m=1143445679&s=170667a&w=0&h=dL_rM-xH2MHCrufzfjhZgxlqLaBC1EBifw3-nIvjv-Q=" alt="Photo by Jamie Street" width="1600" height="1060">
    <div class="w3-display-left w3-padding-large">
     
      <h1 fontstyle="" class="w3-left w3-tag w3-pale-green w3-round">PurifyNature</h1>
    </div>
  </header>

  <!-- Grid / Trainers section -->
  


   <center>

  

    
      </div>
    </div>
  </div>

<!-- Activities section -->
  <div class="w3-white" id="Activities">
    <div class="w3-container">
      <div class="w3-center w3-padding-32">
      <h2 class="w3-wide">INTRO</h2>
      <p class="w3-opacity"><i>Clean and healthy nature</i></p><br>
      <p class="w3-left-align w3-white w3-text-black">
    Waste management has always been a critical piece of the puzzle in protecting the environment and our health. Unlike garbage companies of ancient times, where the city employed men to collect the garbage in carts and bury it, modern garbage service generally includes waste collection, transport, treatment, and proper disposal of waste materials
      </p>
      </div>
<center>
  <img width="500" height="400" src="https://cdn.glitch.global/96d11bbe-2bfe-46b4-aff8-0d5cbd3135f4/istockphoto-1139651150-612x612.jpg?v=1643535928223" class="center">
  </center>
    
        
      </div>
    </div>
  </div>

<!-- Contact -->
<div class="w3-white" id="Contact">
  <div class="w3-container w3-padding-32">
    <div class="w3-center w3-padding-32">
      
<p class="w3-justify"> On average a typical family will throw away around 40kg of plastic that could be recycled each year. 
      That’s a hell of a lot of wasted plastic. 
Over 7 million tons of food and drink are thrown away each year – it’s hard to even comprehend how much that actually is, but trust us, it’s a lot!
Food waste from hotels, bars, and restaurants amounts to around £724 million each year due to wasted food. It is estimated that each year we generate
3% more waste than the previous year. Considering we are supposed to be recycling more, this is pretty shocking.

</p>
    

  <!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
  <footer class="w3-container w3-pale-red w3-center w3-margin-top">
    <p>Find us on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-small">This website was made with W3schools Spaces. Make your own free website today!</p>
    <a class="w3-button w3-round-xxlarge w3-small w3-white w3-margin-bottom" href="https://www.w3schools.com/spaces" target="_blank">Start now</a> <!-- End footer -->
  </footer>

<script>
function myFunction() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<head>
<style>
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
html {
  scroll-behavior: smooth;
}
#myBtn:hover {
  background-color: #0000FF;
}
</style>
</head>	
<button onclick="topFunction()" id="myBtn" title="Go to top">👆</button>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


<head>
<style>


#myBttn {
  #display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0A7029;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBttn:hover {
  background-color: #FFFF00;
}
</style>
</head>
<button onClick="window.location.href='https://abouttheteam.glitch.me';" id="myBttn" title="About" target="_blank">👋</button>



</body>
</html>
