<!DOCTYPE html>
<html>
   <style>
   .registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
</style>
<body>
   

<h1>Upload Image</h1>

<form action="trashdetection" method="post">
   {% csrf_token %} 
  <label for="img">Select image:</label>
  <input type="image" id="img" name="img" accept="image/*">
  <button type="submit" class="registerbtn">Submit</button>
</form>

 <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
 </div>

</body>
</html>
